@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */

body * {
    font-family: 'Syne', sans-serif;
}

/* HEADER */

/*---.sticky-top {
    position: sticky;
    z-index: 10;
    top: 0;
 }*/

li.menu-item a:hover,
li.menu-item.current-menu-item a {
    font-weight: 700;
    font-size: 15px;  
    transition-duration: 0,3s;
}


/* FOOTER */
/*#site-footer {
    padding: 20px;
    text-align: center;
    color: #000000;
    background-color: #ffffff !important;
 }*/


