@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */

body * {
    font-family: 'Syne', sans-serif;
}

/* HEADER */

 #site-header.sticky-top {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #C8D6CF;
 }

li.menu-item a:hover,
li.menu-item.current-menu-item a {
    font-weight: 700;
    font-size: 15px;  
    transition-duration: 0,3s;
}

/* FOOTER */
#site-footer {
    font-size: 16px;
    padding: 20px;
    text-align: center;
    color: #000000;
    background-color: #ffffff !important;
 }

 #site-footer a:hover {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
 }

 a:focus, /* Remove the ‘box’ around active links */
 .focus a {
     outline: none !important;
 }

 /* FORM - NOUS RENCONTRER */

 .wpcf7 input[type=email], input[type=text], select, textarea { 
    border-width: 0px;
    border-radius: 7px;	  
}

.wpcf7 input[type=submit] {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.wpcf7-not-valid-tip {
    color: #3B8E46;
    
}

/* FORM - BOISSONS */ 

.wpcf7 input[type=number] {
    border-radius: 5px;
    font-weight: 600;
}

/* FORM - COMMANDER */

.uacf7-col-6{
    padding-top: 10px;

}

.border-comm .uacf7-col-6{
border: 1px;
border-right-color: #ffffff !important;
border-right: solid ;
}

/* FORM - RÉPONSES */ 

.wpcf7 form .wpcf7-response-output {
   border: 0px; 
}



