@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */

body * {
  font-family: "Syne", sans-serif;
}

/* HEADER */

li.menu-item a:hover,
li.menu-item.current-menu-item a {
  font-weight: 700;
  font-size: 15px;
  transition-duration: 230ms;
}

/* BORDURE SECTION - PAGE ACCUEIL */

.ombre {
  height: 40px;
  width: 100%;
  background-color: #ededed;
  border-radius: 0 0 60% 60%;
  box-shadow: 0 10px 0 #e3d9d0;
}

/* FOOTER */

#site-footer {
  font-size: 16px;
  padding: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffffff !important;
}

#site-footer a:hover {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}

a:focus, /* Remove the ‘box’ around active links */
 .focus a {
  outline: none !important;
}

/* FORM - NOUS RENCONTRER */

.wpcf7 input[type="email"],
input[type="text"],
select,
textarea {
  border-width: 0px;
  border-radius: 7px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
}

.wpcf7 input[type="submit"] {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.wpcf7-not-valid-tip {
  color: #3b8e46;
}

/* FORM - COMMANDER */

.border-comm .uacf7-col-6 {
  border-right: 1px solid white;
}

@media (max-width: 768px) /* Remove the border right in responsive */ {
  .border-comm .uacf7-col-6 {
    border-right: none;
  }
}

/* FORM - RÉPONSES */

.wpcf7 form .wpcf7-response-output {
  border: 0px;
}

/* FORM - COUNTER */

.formulaire_commande {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 1145px;
  padding-bottom: 30px;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.form-counter {
  display: flex;
  flex-direction: row;
}

input[type="number"] {
  align-items: flex-end;
  font-weight: 600 !important;
  font-size: 16px !important;
  padding: 15px;
  width: 51px;
  height: 56px !important;
  margin: 0 !important;
  border: 0;
  border-radius: 5px;
}

.conteneur-counter {
  width: 100px;
  /*margin-right:20px;
    margin-left:20px;*/
  position: relative;
}

.bouton-counter {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 56px;
  border-radius: 0 5px 5px 0;
}

.bouton-counter .bouton-moins {
  padding: 0px 10px;
  height: 50%;
  display: flex;
  border-radius: 0 5px 0 0;
  justify-content: center;
  align-items: center;
  background: #dc9f96;
  color: #ffffff;
  border-bottom: 1px solid white;
}
.bouton-counter .bouton-plus {
  padding: 0px 10px;
  border-radius: 0 0 5px 0;
  height: 50%;
  display: flex;
  background: #dc9f96;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.ok {
  width: 100px;
  height: 56px;
  background: #e0b9b4;
  border: 0;
  border-radius: 5px;
  flex-grow: 1;
  margin-left: 5px;
  transition: 0.3s ease-in-out;
}

@media (max-width: 960px) {
  .formulaire_commande {
    flex-direction: column;
    align-items: center;
  }

  .form-counter {
    margin-bottom: 20px;
  }

  .conteneur-counter {
    width: 100px;
    position: relative;
  }

  .bouton-counter {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    border-radius: 0 5px 5px 0;
  }

  .bouton-counter .bouton-moins {
    padding: 0 10px;
    height: 50%;
    display: flex;
    border-radius: 0 5px 0 0;
    justify-content: center;
    align-items: center;
    background: #dc9f96;
    color: #ffffff;
  }

  .bouton-counter .bouton-plus {
    padding: 0 10px;
    border-radius: 0 0 5px 0;
    height: 50%;
    display: flex;
    background: #dc9f96;
    color: #ffffff;
    justify-content: center;
    align-items: center;
  }

  .ok {
    margin-top: 0;
    margin-left: 10px;
  }
}
